
.imgContainer img
{
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

@media (max-width: 768px) {
    .serviceCon{
        text-align: center;
        align-items: center;
    }
   
}