@font-face {
  font-family: boldFont;
  src: url(../../../public/fonts/Comfortaa-Bold.ttf);
}
@font-face {
  font-family: lightFont;
  src: url(../../../public/fonts/Comfortaa-Light.ttf);
}
@font-face {
  font-family: mediumFont;
  src: url(../../../public/fonts/Comfortaa-Medium.ttf);
}
@font-face {
  font-family: regularFont;
  src: url(../../../public/fonts/Comfortaa-Regular.ttf);
}
@font-face {
  font-family: semiBold;
  src: url(../../../public/fonts/Comfortaa-SemiBold.ttf);
}
.mobileLink {
  color: #000;
  padding: 14px;
  text-decoration: none;
  text-align: center;
}

.mobileLink:hover {
  background-color: white;
  color: #000;
}

.bgGlass {
  width: 100%;
  height: 16vh;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  background-attachment: fixed;
}

.bgGlass:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgb(255, 255, 255);
  filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.15);
}
.header {
  background-attachment: fixed;
}

.header.active {
  height: 16vh;
  position: fixed;
  top: 0;
  padding-top: 20px;
  width: 100%;
  transition: 0.5s;
}

.smallLink:nth-child(2) {
  margin-right: 20px;
}

.smallLink {
  color: #000;
  text-decoration: none;
  font-family: "regularFont";
  font-size: 14px;
}

.langBtn {
  padding: 4px;
  font-family: "regularFont";
  background-color: transparent;
  color: #000;
  border: none;
}

.langBtnActive {
  padding: 5px;
  font-family: "boldFont";
  background-color: white;
  color: #000;
  border: none;
}

.langSelect {
  background-color: transparent;
  color: #000;
  padding: 3px;
}

.langSelect option {
  color: #000;
}

@media screen and (max-width: 768px) {
  .bgGlass {
    height: 5vh;
  }
  .header {
    height: 5vh;
  }
  .header.active {
    height: 8vh;
    padding-bottom: 10px;
    width: 100%;
  }
}
