/* .FooterContainer{
    background-color: #000;
    height: auto;
} */


.FooterContainer {
    width: 100%;
    background: rgba(255, 255, 255, 0.664);
    overflow: hidden;
  }
  
  .FooterContainer:before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* filter: blur(10px); */
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0);
  }

.footerTitle{
    color: #000;
    font-family:'regularFont';
    font-size:16px;
}

@media screen and (max-width: 768px)
{
    .navMedia {
        margin-top: 20px;
        margin-left: 30px;
    }
    .servMedia {
        margin-top: 30px;
        margin-left: 30px;
    }
    .contactMedia{
        padding-top: 30px;
        padding-left: 30px;
    }
    .footerImgg {
        padding-left: 30px;
    }
}

