* {
  /* font-family: ?; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
    background-image: url(../public/img/leather.jpg );
    background-repeat: space;
    border: none;
    outline: none;
    background-color: black;
} */